#{extends 'base-backs.html' /}
#{set main:'active' /}
<ul class="nav nav-tabs myul">
  <li><a  href="@{UserManager.main_common}">基本信息</a></li>
  <li><a  href="@{UserManager.main_contact}">联系信息</a></li>
  <li class="active"><a  href="#">修改密码</a></li>
 
</ul>
<form class="form-horizontal" action="@{UserManager.updatePassword()}" method="post" id="updatePWForm"> 
    <span class="big">修改密码</span>
    <span class="badge btn-inverse btn ml10" onclick="onUpdate()">保存</span>
    #{if status==200}
	    <div class="alert alert-success" id="message">
		<a class="close" data-dismiss="alert">×</a> 
		${message}
	    </div>
	    #{/if}
	    #{if status==400}
	    <div class="alert alert-error" id="message">
		<a class="close" data-dismiss="alert">×</a> 
		${message}
	    </div>
	    #{/if}
     <hr />
       <div class="control-group">
	  <label class="control-label" for="old_password"><span class="red">*</span>旧密码</label>
	  <div class="controls">
	    <input type="password" class="input-xlarge" name="oldpassword" id="old_password" onblur="onOldBlur(this);" placeholder="输入旧密码">
	    <span id="oldpasswordtip" class="label label-important hide"></span>
	  </div>
	  </div>

	  <div class="control-group">
	  <label class="control-label" for="new_password"><span class="red">*</span>新密码</label>
	  <div class="controls">
	    <input type="password" class="input-xlarge" name="newpassword" id="new_password" onblur="onNewBlur(this);" placeholder="输入新密码">
	    <span id="newpasswordtip" class="label label-important hide"></span>
	  </div>
	  </div>

		<div class="control-group">
			<label class="control-label" for="confirm_password"><span class="red">*</span>确认密码</label>
				<div class="controls">
				<input type="password" class="input-xlarge" name="confirmpassword" id="confirm_password" onblur="onConfirmBlur(this);" placeholder="重复输入密码">
				<span id="confirmpasswordtip" class="label label-important hide"></span>
			</div>
		</div>
</form>

<script type="text/javascript">
$(document).ready(function(){
	$("#message").fadeIn("slow").fadeTo(3E3,0.99).fadeOut("slow");
 });
	function onUpdate(){
		if($("#old_password").val() == ''){
			$("#oldpasswordtip").text("旧密码不能为空");
			$("#oldpasswordtip").show();
		}else if($("#new_password").val()==''){
			$("#newpasswordtip").text("新密码不能为空");
			$("#newpasswordtip").show();
		}else if($("#new_password").val()!=$("#confirm_password").val()){
			$("#confirmpasswordtip").text("两次密码输入不一样");
			$("#confirmpasswordtip").show();
		}else{
			document.getElementById("updatePWForm").submit();
		}
 	}
	function onOldBlur(obj){
		if(obj.value==''){
			$("#oldpasswordtip").text("旧密码不能为空");
			$("#oldpasswordtip").show();
		}else{
			$("#oldpasswordtip").hide();
		}
	}
	function onNewBlur(obj){
		if(obj.value==$("#confirm_password").val()){
			$("#confirmpasswordtip").hide();
		}
		if(obj.value==''){
			$("#newpasswordtip").text("新密码不能为空");
			$("#newpasswordtip").show();
		}else{
			$("#newpasswordtip").hide();
		}
	}
	function onConfirmBlur(obj){
		if(obj.value!=$("#new_password").val()){
			$("#confirmpasswordtip").text("两次密码输入不一样");
			$("#confirmpasswordtip").show();
		}else{
			$("#confirmpasswordtip").hide();
		}
	}
	
	</script>
