#{extends 'base-fronts.html' /} 
#{set Home:'active' /}

<!-- 内容页 -->
<!-- 标题 -->
<div class="spanmain">
<div class="hero-unit">
	<img class="navlogo" src="@{'/public/common/images/navlogo.jpg'}"></img>
	 <h2 class="mytitlecolor">与大家一起，分享属于你的世界。</h2>
	 <span class="mytextcolor">&nbsp;&nbsp;一个简单便捷的文档分享系统</span>
	 <span>
		 <button type="submit" class="btn-mini btn-inverse" onclick="location='&{'backs.base'}DocumentManager/upload_in'">立即分享</button>
	 </span>
</div>
<!-- 标题结束 -->
<!-- 正文 -->
	<span class="spanhalfmain">
		<img  class="mainIntroduce" src="@{'/public/common/images/sharelogo.jpg'}"></img>
		<span class="big">简单的分享</span>
		<p class="textintroduce">上传自己的文档，把点滴共享给每个人。也可以下载别人的文档，得到更广泛的分享。</p>
		<hr />
	</span>
	<span class="spanhalfmain">
		<img class="mainIntroduce" src="@{'/public/common/images/taglogo.jpg'}"></img>
		<span class="big">多彩的标签</span>
		<p class="textintroduce">用标签分享自己的兴趣，更快找到志同道合的人。你可以选择指定的标签，也可以自定义属于自己的标签。</p>
		<hr />
	</span>
	<span class="spanhalfmain">
		<img class="mainIntroduce" src="@{'/public/common/images/collectlogo.jpg'}"></img>
		<span class="big">丰富的收藏</span>
		<p class="textintroduce">在这里，你还可以收藏自己所喜欢的东西，分享别人的世界，为自己的世界增添多点色彩。</p>
		<hr />
	</span>
	<span class="spanhalfmain">
		<img class="mainIntroduce" src="@{'/public/common/images/commentlogo.jpg'}"></img>
		<span class="big">轻松的评论</span>
		<p class="textintroduce">把你的感想，你的态度让主人知道。在相互交流中创造美好的回忆。共同进步，共同回味，属于你的他的世界。</p>
		<hr />
	</span>
<!-- 正文结束 -->
</div>
<!-- 内容页显示结束-->


