#{extends 'base-father.html' /}
<div class="managerframe">
	<h1>管理员操作</h1>
	<div class="managerframe-nav">
		<a class="btn btn-primary" href="@{ManagerControll.managercheckdocs}">审核文章</a>
		<a class="btn">添加系统标签</a>
		<a class="btn btn-primary" href="@{ManagerControll.checkfeedback}">查看反馈信息</a>
		<a class="btn btn-mini btn-danger" href="&{'fronts.base'}">回到主页</a>
	</div>
	<div class="addtag">
		添加标签:&nbsp;
		<input type="text" class="input" placeholder="输入标签名" id="tagName" >
		<button type="button" class="btn btn-primary" onclick="ajaxaddtag();">确定</button>
	</span>
	</div>
	<div class="tagshow" id="tagshow" style="width:600px">
	#{list items:tagList,as:'tag'}
	<span>${tag.name}</span>
	#{/list}
    </div>
</div>
#{set 'moreScripts' }
<script type="text/javascript">
function ajaxaddtag(){
	var value=$("#tagName").val();
if(value==null||value==''){
	alert("标签名不能为空!");
}else{
$.ajax({
			   type:'post',
			   url:'/ManagerControll/addTag',
			   data:{
				   tagName:$("#tagName").val()
			   },
			   dataType:'json',
			   success:function(data){
				   if(data.status==200){
					   $("#tagshow").append("<span>"+value+"</span>");
					   alert(data.message);
				   }else{
					   alert(data.message);
				   }
			   },
			   error:function(){
				   alert("添加失败!");
			   }
			   })
}
}
</script>
#{/set}