#{extends 'base-father.html' /} 
<div class="container">
    <div class="row">
        <div class="span2">
            <ul class="nav nav-list docshare-side-nav myul">
                <li class="#{get 'uploadin' /}" ><a  href="@{DocumentManager.upload_in}">
                    <i class="icon-chevron-right"></i> 我的首页</a></li>
                <li class="#{get 'document' /}" ><a  href="@{DocumentManager.document(1,null,null)}">
                    <i class="icon-chevron-right"></i> 我的文档</a></li>
                <li class="#{get 'collection' /}" ><a  href="@{DocumentManager.collection(1,null)}">
                    <i class="icon-chevron-right"></i> 我的收藏</a></li>
                <li class="#{get 'tag' /}" ><a  href="@{Application.tag}">
                    <i class="icon-chevron-right"></i> 我的标签</a></li>
                <li class="#{get 'main' /}" ><a  href="@{UserManager.main_common}">
                    <i class="icon-chevron-right"></i> 我的账号</a></li>
            </ul>
        </div>
        <div class="span10" style="magin-top:50px">
			#{doLayout /}
        </div>
    </div>
</div>

    <script>
	    $(function(){
	        $(".form-horizontal input,.navbar-form input,.form-horizontal textArea").focus(function(){
	            var group = $(this).parents(".control-group").removeClass('error').removeClass('info').removeClass('warning').removeClass('success');
	            group.find('span.help-block').remove();
	            group.find('span.help-inline').html("");
	        });
	    });
	</script>
    </body>
</html>
